<template>
  <div v-if="(leftSide && isMyTurn) || (!leftSide && !isMyTurn)" class="playing-direction">
    <i class="left"></i>
  </div>
  <div v-else class="playing-direction">
    <i class="right"></i>
  </div>
</template>

<script>
  export default {
    name: 'board-arrow',
    props: ['isMyTurn', 'leftSide']
  };
</script>

<style>
  .playing-direction {
    margin: auto;
    padding: 0 20px;
  }
</style>
