<template>
  <div>
    <p class="value">{{ value }}</p>
    <div class="boards">
      <div v-if="leftSide" class="board"> <!-- i am on left -->
        <div class="player" v-bind:class="{ active: isMyTurn}">{{myUsernameWithFallback}}</div>
        <board-arrow :leftSide="leftSide" :isMyTurn="isMyTurn"></board-arrow>
        <div class="player" v-bind:class="{ active: !isMyTurn}">{{opponentUsernameWithFallback}}</div>
      </div>
      <div v-if="!leftSide" class="board"> <!-- i am on right -->
        <div class="player" v-bind:class="{ active: !isMyTurn}">{{opponentUsernameWithFallback}}</div>
        <board-arrow :leftSide="!leftSide" :isMyTurn="!isMyTurn"></board-arrow>
        <div class="player" v-bind:class="{ active: isMyTurn}">{{myUsernameWithFallback}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import BoardArrow from './BoardArrow';

  export default {
    name: 'board',
    props: ['isMyTurn', 'leftSide', 'value', 'myUsername', 'opponentUsername'],
    components: {
      BoardArrow
    },
    computed: {
      myUsernameWithFallback() {
        return this.myUsername.trim() ? this.myUsername : 'You';
      },
      opponentUsernameWithFallback() {
        return this.opponentUsername.trim() ? this.opponentUsername : 'Opponent';
      }
    }
  };
</script>

<style scoped lang="scss">
  @import '../styles/variables.scss';

  .boards {
    margin: 10px 0;
  }

  .board {
    display: flex;
    justify-content: center;
  }

  .player {
    min-width: 200px;
    padding: 30px;
    line-height: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: #006064 solid 3px;
    text-align: center;
    background: #faf8ef;
    text-decoration: none;
  }

  .player.active {
    background: $yellow;
  }

  .value {
    font-size: 32px;
    font-weight: bold;
  }
</style>
