<template>
  <div class="game-container">
    <game-result :gameStatus="gameStatus"></game-result>
    <game-starter v-if="gameStatus !== GameStatus.started"
                  :gameStatus="gameStatus"
                  :myUsername="myUsername"
                  :opponentUsername="opponentUsername"
                  @startGame="startGame($event)">
    </game-starter>
    <div v-if="gameStatus === GameStatus.started">
      <board :value="value"
             :isMyTurn="isMyTurn"
             :leftSide="leftSide"
             :myUsername="myUsername"
             :opponentUsername="opponentUsername">
      </board>
      <player-controls v-if="!autoPlay"
                       :isMyTurn="isMyTurn"
                       @addAmount="addAmount($event)">
      </player-controls>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import Board from './Board';
  import GameStatus from '../models/game-status';
  import GameResult from './GameResult';
  import PlayerControls from './PlayerControls';
  import GameStarter from './GameStarter';

  export default {
    name: 'game',
    props: ['initialSocket'],
    data() {
      return {
        GameStatus,
        myUsername: '',
        autoPlay: false
      };
    },
    methods: {
      addAmount(amount) {
        this.$socket.emit('add', amount);
      },
      startGame({ myUsername, autoPlay }) {
        this.autoPlay = autoPlay;
        this.myUsername = myUsername;
        this.$socket.emit('startRequest', myUsername);
        this.$store.dispatch('startRequest');
      },
      playAutomatically(value) {
        let amount = 0;
        amount = (value + 1) % 3 === 0 ? +1 : amount;
        amount = (value - 1) % 3 === 0 ? -1 : amount;
        this.setTimeout(() => this.$socket.emit('add', amount), 1000);
      },
      setTimeout(fn, timeoutInMs) {
        window.setTimeout(fn, timeoutInMs);
      }
    },
    sockets: {
      newNumber({ value, isMyTurn }) {
        if (this.autoPlay && isMyTurn) {
          this.playAutomatically(value);
        }
      }
    },
    computed: {
      ...mapState([
        'gameStatus',
        'value',
        'leftSide',
        'isMyTurn',
        'opponentUsername'
      ])
    },
    components: {
      Board,
      PlayerControls,
      GameStarter,
      GameResult
    }
  };
</script>

<style scoped>
  .game-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2c3e50;
    max-width: 600px;
    min-height: 480px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
