<template>
  <div class="game-result">
    <h1 v-if="gameStatus === GameStatus.won">You won!</h1>
    <h1 v-if="gameStatus === GameStatus.lost">You lost!</h1>
    <h1 v-if="gameStatus === GameStatus.startRequested">Waiting for an opponent!</h1>
    <h1 v-if="gameStatus === GameStatus.opponentDisconnected">Opponent disconnected!</h1>
  </div>
</template>

<script>
  import GameStatus from '../models/game-status';

  export default {
    name: 'game-result',
    props: ['gameStatus'],
    data() {
      return {
        GameStatus
      };
    },
  };
</script>
