<template>
  <div class="game-start">
    <input type="text"
           class="username"
           required
           v-if="gameStatus === GameStatus.init"
           v-model="username"
           placeholder="Your name...">
    <div>
      <button class="btn btn-got btn-start"
              :disabled="gameStatus === GameStatus.startRequested"
              @click="startGame(false)">
              Start Game (Manual)
      </button>
      <button class="btn btn-got btn-start"
              :disabled="gameStatus === GameStatus.startRequested"
              @click="startGame(true)">
              Start Game (Autoplay)
      </button>
    </div>
  </div>
</template>

<script>
  import GameStatus from '../models/game-status';

  export default {
    name: 'game-starter',
    props: ['gameStatus', 'myUsername'],
    data() {
      return {
        GameStatus,
        username: this.myUsername
      };
    },
    methods: {
      startGame(autoPlay) {
        this.$emit('startGame', { myUsername: this.username, autoPlay });
      }
    }
  };
</script>

<style scoped>
  .game-start {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }

  .btn-start {
    width: 200px;
  }

  .username {
    margin-bottom: 10px;
  }
</style>
