<template>
  <div class="controls">
    <button class="btn btn-got" :disabled="!isMyTurn" @click="addAmount(-1)">-1</button>
    <button class="btn btn-got" :disabled="!isMyTurn" @click="addAmount(1)">+1</button>
    <button class="btn btn-got" :disabled="!isMyTurn" @click="addAmount(0)">0</button>
  </div>
</template>

<script>
  export default {
    name: 'player-controls',
    props: ['isMyTurn'],
    methods: {
      addAmount(val) {
        this.$emit('addAmount', val);
      }
    }
  };
</script>

