@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, p, a {
  color: $yellow;
}

i {
  border: solid $yellow;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

input[type=text] {
  font-size: 24px;
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  text-align: center
}

input[type=text]:focus {
  border: 3px solid #555;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover:enabled,
  &:focus:enabled {
    color: #fff;
    outline: 0;
  }
}

.btn-got {
  border-color: $blue;
  color: #fff;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;

  &:hover:enabled {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
  &:disabled {
    box-shadow: 0 0 40px 40px $blue-light inset, 0 0 0 0 $blue-light;
    color: #e0e0e0;
    cursor: auto;
  }
}
